<div class="container mt-5 mb-5">
  <h1>Cadastro de Produtos</h1>
  <form>
    <div class="d-flex flex-column">

      <mat-form-field  appearance="fill" class="mb-3">
        <mat-label>Nome da receita</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field  appearance="fill" class="mb-3">
        <mat-label>Ingredientes</mat-label>
        <textarea class="form-text" type="text-area" matInput></textarea>
      </mat-form-field>

    </div>
  </form>
</div>


