<form [formGroup]="cadastroReceita">
  <div class="d-flex flex-column container mt-5 mb-5">

    <mat-form-field  appearance="fill">
      <mat-label>Nome da receita</mat-label>
      <input formControlName="nome" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <mat-select>
        <mat-option formControlName="categoria" *ngFor="let categoria of categorias" [value]="categoria.name">
          {{categoria.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mb-2">
      <mat-radio-group>
        <div>
          <span>Nível</span>
        </div>
        <div>
          <mat-radio-button formControlName="level" color="primary" *ngFor="let level of levels" value="level" class="m-2">{{level}}</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>

    <mat-form-field  appearance="fill">
      <mat-label>Ingredientes</mat-label>
      <textarea formControlName="ingredientes" class="form-text" type="text-area" matInput></textarea>
    </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label>Modo de preparo</mat-label>
        <textarea formControlName="modoPreparo" type="text-area" class="form-text" matInput></textarea>
      </mat-form-field>

      <div class="d-flex justify-content-end">
        <div class="m-2">
          <button mat-stroked-button>Cancelar</button>
        </div>
        <div class="m-2">
          <button mat-stroked-button color="primary">Salvar</button>
        </div>
      </div>
  </div>
</form>
