.form-text{
    min-height: 200px;
}

.file-name {
    margin-left: 1rem;
}

.text-img{
    font-size: 14px;
}

.erro{
    font-size: 11px;
    margin-left: 4px;
}

::ng-deep .red-snackbar {
    background: #FF0000;
}

::ng-deep .green-snackbar {
    background: #2E8B57;
}

::ng-deep .mat-simple-snackbar-action{
    color: #000;
  }

:host ::ng-deep .green-snackbar {
    background: #2E8B57;
}

.img{
    width: 140px;
    height: 160px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px 0px;
}