.footer{
    background: url("../../../assets/image/footer.png") no-repeat center center;
    background-size: cover;
    min-height: 40vh;
}
.text-principal-footer{
    color: #fff;
    font-size: 28px;
}
.text-footer{
    color: #fff;
    font-size: 16px;
}
ul{
    list-style: none;
    padding-left: 0px !important;
}