<div class="footer">
  <div class="container">
    <div class="py-5">
      <span class="text-principal-footer">Entre em contato</span>
    </div>
    <div class="row">
      <div class="col-md-4 text-footer">
        <ul>
          <li>email</li>
          <li>endereço</li>
          <li>telefone</li>
        </ul>
      </div>
      <div class="col-md-4 text-footer">
        <ul>
          <li>Sobre nós</li>
          <li>Privacidade</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="col-md-4 text-footer">
        <ul>
          <li>rede social 1</li>
          <li>rede social 2</li>
          <li>rede social 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
