.body{
    background-color: rgb(255, 253, 208);
}

.titulo{
    padding-top: 100px;
    padding-bottom: 100px ;
}

.texto-principal{
    background-color: rgb(254, 101, 1);
    width: 85%;
    min-height: 150px;
    position: relative;
    color: #FFF;
    font-size: 48px;
    padding-left: 5%;
}

.imagem{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    left: 75%;
    bottom: -160px;
    position: absolute;
    border: solid 5px #FFF;
}

.icone{
    max-width: 50px;
}

.texto-subtitulo{
    margin-left: 20px;
    font-size: 36px;
    color: rgb(224, 127, 31);
}

.quebrar-linhas{
    white-space: pre-line;
  }

.imagem{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn{
    margin-right: 5px;
}

:host ::ng-deep .green-snackbar {
    background: #2E8B57;
}

@media (max-width: 578.98px){
    .imagem{
        position: static;
        margin-top: 20px !important;
    }
    .texto-principal{
        width: 100%;
        padding-left: 5px;
        font-size: 32px;
    }
    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

@media (max-width: 767.98px){
    .texto-principal{
        font-size: 36px;
        padding-left: 16px;
    }

    .imagem{
        bottom: -180px;
    }
}
@media (max-width: 991.98px){
    .imagem{
        bottom: -180px;
    }
}