.card{
    background: url("../../../../assets/image/img-test.jpg") no-repeat center center;
    background-size: cover;
    height: 60vh;
}
.nome-receita{
    background: #FFF;
    padding: 8px;
    width: 70%;
    border-radius: 0 25px 25px 0;
    font-size: 18px;
}