<div class="flip-container card mt-5 d-flex" [style.background-image]="getUrlImagem()">
  <div class="flipper">
    <div class="front d-flex flex-column justify-content-between">
      <div class="d-flex nome-receita mt-5">
        <div>{{nomeReceita}}</div>
      </div>
      <div>
      </div>
      <div class="d-flex align-items-end m-2">
        <img class="img-level" [src]="obterIconeLevel()">
        <span class="text-level">{{levelReceita}}</span>
      </div>
    </div>
    <div class="back d-flex flex-column justify-content-center align-items-center">
      <div class="card-text d-flex justify-content-center align-items-center">
        <span (click)="abrirReceita()">Veja a receita</span>
      </div>
    </div>
  </div>
</div>