.card{
    background: url("../../../../assets/image/img-test.jpg") no-repeat center center;
    background-size: cover;
    height: 60vh;
    border-radius: 15px;
    transition: all 0.5s
}
.card:hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.nome-receita{
    background: #FFF;
    padding: 8px;
    width: 70%;
    border-radius: 0 25px 25px 0;
    font-size: 24px;
    position: relative;
    right: 2px;
}

.img-level{
    max-width: 50px;
}
.text-level{
    font-size: 26px;
    color: #FFF;
}
.form-busca{
    z-index: 9999 !important;
}