<div class="banner">
  <div class="p-2 p-md-5">
    <div class="d-flex justify-content-md-end justify-content-between text-enviar-receita text">
      <div class="d-md-none">
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu">
          <button *ngFor="let categoria of categorias" mat-menu-item (click)="filtrarPorCategoria(categoria.name)">{{categoria.name}}</button>
        </mat-menu>
      </div>
      <div class="d-flex link" routerLink="/cadastro">
          <span class="material-symbols-outlined icone-enviar">
            send
          </span>
          <p>Envie sua <br>receita</p>
      </div>
    </div>
      <div class="view d-flex justify-content-center align-items-center link" (click)="carregarPaginaInicial()">
        <div>
          <img  class="logo" src="assets/image/receitas.png">
        </div>
      </div>
      <div *ngIf="categorias" class="d-md-flex d-none flex-row justify-content-around container">
        <carousel [height]="100" [cellWidth]="130" [arrowsOutside]="true">
          <div *ngFor="let categoria of categorias" class="carousel-cell">
            <div>
              <div class="text button-categoria btn-4" (click)="filtrarPorCategoria(categoria.name)"><span>{{categoria.name}}</span></div>
            </div>
          </div>
        </carousel>
      </div>
  </div>
</div>
