.banner{
    background: url("../../../assets/image/banner.png") no-repeat center center;
    background-size: cover;
    height: 80vh;
}
.view{
    height: 50vh;
}
::ng-deep .carousel-arrow-next{
    top: 10px !important;
}
::ng-deep .carousel-arrow-prev{
    top: 10px !important;
}
::ng-deep .carousel-cells{
    padding-left: 40px ;
}
::ng-deep .carousel-container{
    cursor: default !important;
    height: 100px imo !important;
}
.logo{
    max-width: 300px;
}
.text-enviar-receita{
    line-height: 1;
}
.text{
    color: #FFF;
    font-family:'JetBrains Mono', monospace;
    font-size: 18px;
    text-transform: uppercase;
}
.icone-enviar{
    transform: rotate(-45deg);
    font-size: 36px;
    position: relative;
    bottom: 5px;
    left: 5px;
}
@media (max-width: 575.98px) { 
    .logo{
        max-width: 200px;
    }
    .text{
        font-size: 12px;
    }
    .icone-enviar{
        font-size: 20px;
    }
    .banner{
        height: 60vh;
    }
 }