:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 50px !important;
    background-color: rgba(0,0,0,.10);
}
:host ::ng-deep .mat-form-field-underline{
    display: none !important;
}
.text-receitas{
    font-size: 40px;
}

.btn-filtro{
    color: rgb(224, 127, 31);
}