<div>
  <div class="container d-md-flex justify-content-between align-items-center mt-md-5 mt-3">
    <div>
      <h2 class="text-receitas">Receitas</h2>
    </div>
    <div class="form-busca">
      <mat-form-field appearance="fill">
        <mat-label>Buscar Receita</mat-label>
        <input matInput type="text">
        <button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let receita of receitas.data">
        <app-card-receita [nomeReceita]="receita.name" [levelReceita]="receita.level?.name" [imagemReceita]="receita.image"></app-card-receita>
      </div>
    </div>
  </div>
</div>