<div>
  <div class="container d-md-flex justify-content-between align-items-center mt-md-5 mt-3">
    <div>
      <h2 class="text-receitas">Receitas</h2>
    </div>
    <div class="form-busca">
      <form [formGroup]="filtro">
        <mat-form-field appearance="fill">
          <mat-label>Buscar Receita</mat-label>
          <input (input)="submitForm()" formControlName="nome" matInput type="text">
          <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
    </form>
    </div>
  </div>
  <div class="container mb-5" *ngIf="receitas.data.length; else semRegistro">
    <div class="row">
      <div class="col-md-4" *ngFor="let receita of receitas.data">
        <app-card-receita [nomeReceita]="receita.name" [levelReceita]="receita.level?.name" [imagemReceita]="receita.image"></app-card-receita>
      </div>
    </div>
  </div>
  <mat-paginator  [length]="receitas.totalItems"
                  [pageSize]="paginacaoRequisicao.pageSize"
                  [pageIndex]="paginacaoRequisicao.pageIndex"
                  [pageSizeOptions]="[9, 18]"
                  (page)="onPageChange($event)"
                 aria-label="Select page">
</mat-paginator>
</div>

<ng-template #semRegistro>
  <div class="container">
    <span class="full-width main-div">Nenhum receita encontrada</span>
  </div>
</ng-template>